body{
	background: url("gradient.jpg");

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header > .container-fluid{
	background: url("thebridgeheader05.png");
	min-height: 120px;
}
header > .container-fluid > .theBridge{

	/*min-height: 120px;*/
	display:flex;
	justify-content: center;
	align-items: center;
}
header > nav{
	white-space: nowrap;
	text-transform: uppercase;
	background: #000!important;
}
header > nav > div > div > ul > li > a{
	color: white!important;
}
/*nav > div > div > #vlog-menu{
	margin: 0!important;
	padding-left: 30px;
}*/
nav > div > div > #vlog-menu > form {
	display: none;
}

.my-custom{
	position: relative;
}
.mycustom > input[type=text] {
    border: none;
    width: 100%;
    padding-right: 50px;
    border-radius: 20px!important;
}
.mycustom > .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
    
}
.mycustom > .input-group-prepend > button{
	border-radius: 20px!important;
}
.border-bottom{
	border-width: 2px!important;
	border-color: #003884!important;
}
.border{
	border-width: 3px!important;
}