body{
	background: url("images/gradient.jpg");

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white!important;
	font-family: calibri;
}
header > .container-fluid{
	background: url("images/thebridgeheader05.png");
	min-height: 120px;
}
header > .container-fluid > .theBridge{

	/*min-height: 120px;*/
	display:flex;
	justify-content: center;
	align-items: center;
}
nav{
	white-space: nowrap;
	text-transform: uppercase;
	background: #000!important;
}
nav.border-bottom{
	border-width: 2px!important;
}
nav > div > div > ul > li > a{
	
}
/*nav > div > div > #vlog-menu{
	margin: 0!important;
	padding-left: 30px;
}*/
nav > div > div > #vlog-menu > form {
	display: none;
}

.my-custom{
	position: relative;
}
.mycustom > input[type=text] {
    border: none;
    width: 100%;
    padding-right: 50px;
    border-radius: 20px!important;
}
.mycustom > .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
    
}
.mycustom > .input-group-prepend > button{
	border-radius: 20px!important;
}



/*OWL CAROUSEL*/
.carousel-item{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-caption h5{
	font-size: 1.4rem;
	text-shadow: 2px 2px #003884;
}
.carousel-caption a{
	border-radius: 20px;
	background-color: #003884;
	border-color: #003884;
	text-shadow: 2px 2px #000;
}

/*MOST RECENT*/

.border-bottom{
	border-width: 1px!important;
	border-color: #003884!important;
}
section > div > h1{
	font-weight: bold!important;
	text-transform: uppercase;
	font-size: 2rem!important;
	
}
.subtitle{
	
	font-weight: bold!important;

}
.zoom{
	overflow: hidden;
}
.zoom-custom{
	transition: transform .2s;
}
.zoom-custom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  overflow: hidden;
}
/*FOOTER*/
footer > a{
	color: white!important;
}


@media (min-width: 540px) {
	.carousel-caption > h5 {

	}
  }
@media (min-width: 768px) {

  }
@media (min-width: 960px) {

  }
@media (min-width: 1140px) {

}