body{
	background-color: #f0f0f0;
	color: #003884!important;
	font-family: calibri;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;

}

header > .container-fluid{
	background: url("images/thebridgeheader05.png");
	min-height: 120px;
}
header > .container-fluid > .theBridge{

	
	display:flex;
	justify-content: center;
	align-items: center;
}
nav{
	white-space: nowrap;
	text-transform: uppercase;
	background: #000!important;
}
nav.border-bottom{
	border-width: 2px!important;
}
nav > div > div > ul > li > a{
	
}
/*nav > div > div > #vlog-menu{
	margin: 0!important;
	padding-left: 30px;
}*/
nav > div > div > #vlog-menu > form {
	display: none;
}
.my-custom{
	position: relative;
}
.mycustom > input[type=text] {
    border: none;
    width: 100%;
    padding-right: 50px;
    border-radius: 20px!important;
}
.mycustom > .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
    
}
.mycustom > .input-group-prepend > button{
	border-radius: 20px!important;
}


.container-style{
	background: white;
	background: white;
	border:1px solid #d9d9d9;"
}

/*OWL CAROUSEL*/
.carousel-inner{
	border:2px solid #003884;
}






.upload-date {
	font-size: .8rem;
}

/*TRENDING*/
.trending-font{
	font-size: .8rem;
}
a.brighten {
    display: inline-block;
    background: white;
    padding: 0;
}

a.brighten img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.brighten:hover img {
	opacity: 1.5;
    filter: brightness(150%);

}

/*MOST RECENT*/

.border-bottom{
	border-width: 1px!important;
	border-color: #003884!important;
}
section > div > h1{
	font-weight: bold!important;
	text-transform: uppercase;
	font-size: 2rem!important;
	text-align: center;
	
}
.subtitle{
	
	font-weight: bold!important;

}
.zoom{
	overflow: hidden;
}
.zoom-custom{
	transition: transform .2s;
}
.zoom-custom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  overflow: hidden;
}
/*FOOTER*/
footer > a{
	color: #003884!important;
}
a.tab-subheadings{
	text-decoration: none;
	color: #003884!important;
}

h1, h3 {
	font-weight: bold!important;
	margin-bottom: 0;
}


@media (min-width: 576px) {
    .carousel-caption > .custom-button{
        border-radius: 50px;
        text-transform: uppercase;
        color: black;
        font-size: 16px;
        line-height: 39px;
        letter-spacing: 3px;
        padding: 0 10px;
        font-weight: bold;
        background-color: white;
        border-color: white;
        display: inline-block!important;
        float: left;
        border: 2px solid white!important;
    }
    .carousel-caption > .custom-button:hover{
        background: rgba(255, 255, 255, 0);
        color: white;
    }
    .trending-font{
		font-size: 1rem;
	}
  }
@media (min-width: 768px) {

	.carousel-caption a{
		font-size: 1.2rem;
	}

	.carousel-caption > a{
		
	}
  }
@media (min-width: 992px) {

	.carousel-caption > a{
		font-size: 1.2rem;
	}
  }
@media (min-width: 1140px) {

}